/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 26, 2016, 10:19:43 AM
    Author     : tyoung12
*/

html {
    background-image: url("../images/bats.gif");
    background-repeat: repeat;
    font-family: sans-serif;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size-adjust: 1.1; 
}

h1.first:first-letter {
    font-size: 3em;
}
    
.pumpkin {
    float: left;
    margin-top: 1.5%;
 }

.headerfirst {
    margin-left: 12%;
    margin-top: 1%;
    text-indent: 1.5%;
}

.headersecond {
    margin-left: 12%;
    margin-top: -1%;
    text-indent: 1.5%;   
}

a {
    color: orange;
    font-weight: bold;   
}

.sidebarunorderedlist,.sidebarlistitem {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebarlistitem a {
    background-color: orange;
    border: .2em solid black;
    color: black;
    display: block;
    font-size: 1em;
    line-height: 1.5em;
    margin-bottom: 0.2em;
    margin-left: 0.3em;
    padding: .3em .2em .2em 0.5em;
    text-decoration: none;
    width: 8.5em;   
}

body {
    background-color: white;
    border: 1px solid black;
    box-shadow: 2px 8px 5px 2px black;
    left: 50%;
    margin-right: -50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 800px; 
}

header {
    background-color: orange;
    background-image: linear-gradient(45deg, white, orange 75%, black);
    border-bottom: 2px solid black;
    height: 100%;
    margin: 0;
    padding: 8px;
}

footer {
    background-color: orange;
    background-image: linear-gradient(45deg, black, orange 25%, white);
    border-top: 2px solid black;
    font-size: 0.9em;
    height: 100%;
    margin: 0;
    padding: 25px;
    text-align: center;  
}

h2 {
    margin-left: 1.5%;
}

h3 {
    margin-left: 1.5%;
}

.container {
    background-color: white;
    border: 2px solid black;
    margin: 0 auto;
    width: 800px; 
}

#header {
    background-color: white;
}

#content {
    float: right;
    width: 640px;
}

#sidebar {
    float: left;
    left:2px;
    position:fixed;
    top: 11.7em;
    width: 180px;
}

#footer {
    background-color: white;
    clear:both;
}

.horizontalbar, .horizontallistitem{
    background:black;
    float: left;
    list-style: none;
    margin:0;
    padding:0;    
}

.horizontallistitem{
   display:inline-block;
}

.horizontallistitem a{
    background: black;
    color:white;
    display:block;
    line-height: 2em;
    text-align: center;
    text-decoration: none;
    width:160px;  
}

.second{
    margin-top: -4%;
    text-indent: 1.1%;
}


.horizontallistitem a:hover{
    color: grey;
}

.current {
    color:orange;
}

.horizontallistitem a:active {
    color:orange;
}

p {
    margin-left: 25px;
}

label, input {
    display:block;
    padding-bottom: -5px;
}

label {
    margin-bottom: 10px; 
    margin-right: 100px;
    float: left;
    text-align: left;
}

input[type="text"] {
    width: 350px;
}

input[type="email"] {
    width: 350px;
}

#submit {
    display: block;
    margin-right: 150px;
    background-color: orange;
    border:black;
}

#email {
    margin-left: 145px;
    
}

.emailtext {
    margin-left: 59px;
    margin-top: -10px;
}

.zipcodetext {
    margin-left: 35px;
    margin-top: -10px;
}

.lastnametext {
    margin-top: -10px;
}

.contentheader {
    margin-left: 20px;
}

.firstnametext {
    margin-left: 24px;
}

.subscribebutton {
    margin-left: 204px;
    margin-top: -10px;
}